(
    sidebar_text: "Welcome to Atom Smashers Inc. What do we do? We smash atoms. For science! As the new hire, it's your job to carry out the experiments cooked up by the research team. Validate hypotheses, discover new elements, yadda yadda. Anyway, to get you warmed up, place a basic atom along the path of the other basic atom and start the experiment to create the next tier of atom.",
    level_complete_text: "Well done, [employee-name-here]!",
    atoms: [
        (
            atom_type: Basic,
            position: (-2, 0),
            velocity: Some((
                direction: E,
                speed: 2.0,
            )),
        ),
    ],
    goal: ReachPositions([
        (
            atom_type: Splitting,
            position: (4, 0),
        ),
    ]),
    placeable_atoms: [Basic],
)
