(
    sidebar_text: "That green atom is what the research boffins have inventively called a 'splitting atom'. I'm sure you can figure out why. Use it to get the corresponding atoms to the highlighted goal positions.",
    level_complete_text: "Looks like you've grasped the basics. Let's keep going.",
    atoms: [
        (
            atom_type: Basic,
            position: (-2, 0),
            velocity: Some((
                direction: E,
                speed: 2.0,
            )),
        ),
    ],
    goal: ReachPositions([
        (
            atom_type: Splitting,
            position: (4, 2),
        ),
        (
            atom_type: Basic,
            position: (3, -1),
        ),
    ]),
    placeable_atoms: [
        Basic,
        Splitting,
    ],
)
