(
    sidebar_text: "I've got some bad news. Apparently this is a 'company' and we are supposed to be making 'money' or whatever. The investors are not happy, so we're pivoting our business to cleaning fluid. This'll be your last experiment with us. You can take a complimentary bottle of Atom Smashers Inc. Cleaning Fluid (tm) on your way out.",
    level_complete_text: "You've been fired.\nThanks for playing!",
    atoms: [
        (
            atom_type: Basic,
            position: (-3, 0),
            velocity: Some((
                direction: E,
                speed: 2.0,
            )),
        ),
        (
            atom_type: Wall,
            position: (3, 0),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, -1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, 1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (4, -2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (4, 2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, 1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, -1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, 0),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, -2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, 2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, -2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, 2),
            velocity: None,
        ),
    ],
    goal: ReachPositions([
        (
            atom_type: Antimatter,
            position: (4, 1),
        ),
        (
            atom_type: Antimatter,
            position: (4, -1),
        ),
    ]),
    placeable_atoms: [
        Basic,
        Splitting,
        Reactive,
    ],
)
