(
    sidebar_text: "Apparently an even bigger reaction occurs when a splitting atom hits another splitting atom...",
    level_complete_text: "Good work. On to the next experiment!",
    atoms: [
        (
            atom_type: Basic,
            position: (-3, 0),
            velocity: Some((
                direction: E,
                speed: 2.0,
            )),
        ),
        (
            atom_type: Splitting,
            position: (1, 0),
            velocity: None,
        ),
    ],
    goal: ReachPositions([
    (
        atom_type: Basic,
        position: (-3, -2),
    ),
    (
        atom_type: Basic,
        position: (-3, 2),
    ),
    (
        atom_type: Basic,
        position: (5, -2),
    ),
    (
        atom_type: Basic,
        position: (5, 2),
    ),
    (
        atom_type: Splitting,
        position: (7, 0),
    ),
    ]),
    placeable_atoms: [
        Basic,
        Splitting,
    ],
)
