(
    sidebar_text: "Create a new type of atom",
    atoms: [
        (
            atom_type: Basic,
            position: (-2, 0),
            velocity: Some((
                direction: E,
                speed: 2.0,
            )),
        ),
    ],
    goal: CreateAtom(Reactive),
    placeable_atoms: [
        Basic,
        Splitting,
    ],
)
