(
    sidebar_text: "I've just received word that our researchers have named the new atom the 'blue atom'. Fantastic. This is why we pay them the big bucks.",
    level_complete_text: "Good work. On to the next experiment!",
    atoms: [
        (
            atom_type: Basic,
            position: (-3, 0),
            velocity: Some((
                direction: E,
                speed: 2.0,
            )),
        ),
        (
            atom_type: Wall,
            position: (3, -1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, 1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (2, -1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (2, 1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (2, 0),
            velocity: None,
        ),
        (
            atom_type: Reactive,
            position: (5, 2),
            velocity: None,
        ),
    ],
    goal: ReachPositions([
    (
        atom_type: Basic,
        position: (3, 0),
    ),
    ]),
    placeable_atoms: [
        Basic,
        Splitting,
    ],
)
