(
    sidebar_text: "...",
    atoms: [
        (
            atom_type: Basic,
            position: (-3, 0),
            velocity: Some((
                direction: E,
                speed: 2.0,
            )),
        ),
        (
            atom_type: Wall,
            position: (3, -1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, 1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (2, -1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (2, 1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (2, 0),
            velocity: None,
        ),
    ],
    goal: ReachPositions([
    (
        atom_type: Basic,
        position: (3, 0),
    ),
    ]),
    placeable_atoms: [
        Basic,
        Splitting,
        Reactive,
    ],
)
