(
    sidebar_text: "Oops, I spilled a bunch of atoms a colleagues experiment. I don't suppose you could fix it?",
    atoms: [
        (
            atom_type: Basic,
            position: (-3, 0),
            velocity: Some((
                direction: E,
                speed: 2.0,
            )),
        ),
        (
            atom_type: Basic,
            position: (-2, -3),
            velocity: Some((
                direction: NE,
                speed: 2.0,
            )),
        ),
        (
            atom_type: Antimatter,
            position: (3, 1),
            velocity: Some((
                direction: N,
                speed: 2.0,
            )),
        ),
        (
            atom_type: Basic,
            position: (0, 5),
            velocity: Some((
                direction: SE,
                speed: 2.0,
            )),
        ),
        (
            atom_type: Splitting,
            position: (1, 4),
            velocity: None,
        ),
        (
            atom_type: Splitting,
            position: (1, 3),
            velocity: None,
        ),
        (
            atom_type: Splitting,
            position: (2, 4),
            velocity: None,
        ),
        (
            atom_type: Reactive,
            position: (4, 0),
            velocity: None,
        ),
        (
            atom_type: Splitting,
            position: (-1, 0),
            velocity: None,
        ),
        (
            atom_type: Splitting,
            position: (0, -1),
            velocity: None,
        ),
        (
            atom_type: Antimatter,
            position: (0, -4),
            velocity: None,
        ),
        (
            atom_type: Basic,
            position: (3, -1),
            velocity: None,
        ),
        (
            atom_type: Basic,
            position: (4, 2),
            velocity: None,
        ),
    ],
    goal: ReachPositions([
        (
            atom_type: Splitting,
            position: (4, 3),
        ),
        (
            atom_type: Basic,
            position: (6, 0),
        ),
        (
            atom_type: Basic,
            position: (4, 4),
        ),
        (
            atom_type: Basic,
            position: (1, 2),
        ),
    ]),
    placeable_atoms: [
        Wall,
    ],
)
