(
    sidebar_text: "...",
    atoms: [
        (
            atom_type: Basic,
            position: (-3, 0),
            velocity: Some((
                direction: E,
                speed: 2.0,
            )),
        ),
        (
            atom_type: Wall,
            position: (3, 0),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, -1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, 1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (4, -2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (4, 2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, 1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, -1),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, 0),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, -2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (5, 2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, -2),
            velocity: None,
        ),
        (
            atom_type: Wall,
            position: (3, 2),
            velocity: None,
        ),
    ],
    goal: ReachPositions([
        (
            atom_type: Antimatter,
            position: (4, 1),
        ),
        (
            atom_type: Antimatter,
            position: (4, -1),
        ),
    ]),
    placeable_atoms: [
        Basic,
        Splitting,
        Reactive,
    ],
)
